.code-block {
	tab-size: 4;
}
.code-block > p {
	margin-bottom: 0;
}

details.code-block summary {
	cursor: pointer;
}
details.code-block summary::before {
	content: '';
	border: 0.5em solid transparent;
	height: 0;
	width: 0;
	display: block;
	border-left-color: currentcolor;
	float: left;
	margin-right: 0.5em
}
details.code-block[open] summary::before {
	border-left-color: transparent;
	border-top-color: currentcolor;
	margin-top: 0.25em
}